 /* Google poppins font */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');


 * {
     margin: 0;
     padding: 0;

 }

 body {
     min-height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 20px;
     justify-content: center;
     background: linear-gradient(to bottom, #d1ede1, #c2e5d7, #b2decd, #a2d7c3, #92cfba, #83c7b0, #74bfa7, #64b79d, #52ac90, #3fa183, #299777, #028c6a)
 }



 /* Main page content */
 .main {
     width: 100%;
     background: linear-gradient(to bottom, #d1ede1, #c2e5d7, #b2decd, #a2d7c3, #92cfba, #83c7b0, #74bfa7, #64b79d, #52ac90, #3fa183, #299777, #028c6a), url(tenniscourt2.jpg);
     background-position: center;
     background-size: cover;
     height: 100vh;
     flex: 1 0 auto;
 }

 /* Nav bar menu */
 .navmenu {
     width: 100%;
     height: 75px;
     margin: auto;
 }

 /* Icon to be used on page */
 .icon {
     width: 200px;
     float: left;
     height: 70px;
 }

 /* Site logo */
 .sitelogo {
     color: #028c6a;
     padding-left: 10px;
     float: left;
     padding-top: 10px;
     font-size: 30px;
     font-family: Arial;
 }

 /* Site menu*/
 .sitemenu {
     width: 400px;
     float: left;
     height: 70px;
 }

 /* Site menu as a list */
 ul {
     float: left;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 ul li {
     list-style: none;
     margin-left: 65px;
     margin-top: 25px;
     font-size: 14px;
 }

 ul li a {
     transition: 0.5s ease-in-out;
     text-decoration: none;
     color: white;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: bold;
 }

 ul li a:hover {
     color: #028c6a;
 }

 /* Navigation bar search bar */
 .searchbar {
     width: 350px;
     float: left;
     margin-left: 260px;
 }

 .searchoption {
     font-family: Arial, Helvetica, sans-serif;
     width: 200px;
     height: 40px;
     background: transparent;
     border: 1px solid #028c6a;
     border-right: none;
     margin-top: 15px;
     color: white;
     font-size: 16px;
     padding: 10px;
     border-bottom-left-radius: 5px;
     border-top-left-radius: 5px;
 }

 /* Navigation search bar button */
 .btn {
     height: 40px;
     width: 100px;
     font-size: 15px;
     background: #028c6a;
     border: 3px solid #028c6a;
     margin-top: 15px;
     color: white;
     border-bottom-right-radius: 5px;
     border-top-right-radius: 5px;

 }

 .btn:focus {
     outline: none
 }

 .searchoption:focus {
     outline: none;
 }

 /* Main page content paragraphs */
 .pagecontent {
     width: 1800px;
     height: auto;
     margin: auto;
     color: white;
     position: relative;
 }

 .pagecontent .paragraph {
     padding-left: 20px;
     padding-bottom: 25px;
     font-family: Arial;
     letter-spacing: 1.2px;
     line-height: 30px;
 }

 .pagecontent h1 {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 40px;
     padding-left: 20px;
     margin-top: 9%;
     letter-spacing: 2px;
 }

 .pagecontent .btncontent {
     width: 210px;
     height: 50px;
     background: #028c6a;
     border: none;
     font-size: 16px;
     margin-bottom: 10px;
     margin-left: 20px;
     border-radius: 10px;
     cursor: pointer;
 }

 .pagecontent .btncontent a {
     text-decoration: none;
     color: white;
     transition: 0.4s ease;
     border-color: white;
     font-family: Arial;
     font-weight: bold;
 }

 .btncontent:hover {
     background-color: #92cfba;

 }

 .pagecontent span {
     color: #028c6a;
     font-size: 50px;
 }

 /* Main page content registration and login form */
 .homepageform {
     width: 250px;
     height: 380px;
     background: linear-gradient(to bottom, #92cfba, #83c7b0);
     position: absolute;
     top: -20px;
     left: 1450px;
     border-radius: 10px;
     padding: 25px;
 }

 .loginbtn {
     width: 240px;
     height: 50px;
     background: #028c6a;
     border: none;
     border-radius: 10px;
     margin-top: 30px;
     font-size: 16px;
     cursor: pointer;
     color: white;
 }

 .loginbtn:hover {
     background: white;
     color: #028c6a;
 }

 .loginbtn a {
     text-decoration: none;
     color: white;
     font-weight: bold;
 }

 .homepageform h2 {
     width: 220px;
     font-family: Arial;
     text-align: center;
     color: white;
     font-size: 20px;
     border-radius: 10px;
     margin: 2px;
     padding: 8px;
 }

 .homepageform input {
     width: 240px;
     height: 36px;
     background: transparent;
     border-bottom: 1px solid #028c6a;
     border-top: none;
     border-right: none;
     border-left: none;
     color: white;
     font-size: 14px;
     letter-spacing: 1px;
     margin-top: 30px;
     font-family: Arial;
 }

 .homepageform .registerlink {
     font-family: Arial;
     font-size: 15px;
     padding-top: 20px;
     text-align: center;
 }

 .homepageform .link a {
     text-decoration: none;
     color: #028c6a;
 }

 .homepageform input:focus {
     outline: none;
 }

 ::placeholder {
     color: white;
     font-family: Arial;
 }

 footer {
     background-color: lavender;
 }

 /* The form container and controls styling */
 .container {
     position: relative;
     max-width: 700px;
     width: 100%;
     background: white;
     padding: 50px;
     margin: auto;
     border-radius: 10px;
     box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
     justify-content: center;
 }

 .formtitle {
     font-size: 25px;
     color: black;
     font-weight: 600;
     text-align: center;
     padding-bottom: 5px;
     text-shadow: 2px 2px 2px black;
     border-bottom: solid 1px white;
     font-family: "Poppins", sans-serif;

 }

 .userdetails {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     padding: 20px 0;
 }

 .userinputbox:nth-child(2n) {
     justify-content: end;
 }

 .userinputbox {
     display: flex;
     flex-wrap: wrap;
     width: 50%;
     padding-bottom: 15px;

 }

 .userinputbox label {
     width: 80%;
     color: black;
     font-size: 20px;
     font-weight: 400;
     margin: 5px 0;
     font-family: "Poppins", sans-serif;
 }

 .userinputbox input {
     width: 80%;
     height: 40px;
     border-radius: 10px;
     outline: none;
     border: 1px solid grey;
     padding: 0 10px;

 }

 .gendertitle {
     color: black;
     font-size: 20px;
     font-weight: 600;
     font-family: "Poppins", sans-serif;
 }

 .genderoptions {
     margin: 15px 0;
     color: black;
 }

 .genderoptions label {
     padding: 0 20px 0 5px;
     font-family: "Poppins", sans-serif;
 }

 .leveltitle {
     color: black;
     font-size: 20px;
     font-weight: 600;
     font-family: "Poppins", sans-serif;
 }

 .leveloptions {
     margin: 15px 0;
     color: black;
 }

 .leveloptions label {
     padding: 0 20px 0 5px;
     font-family: "Poppins", sans-serif;
 }

 .genderoptions label,
 .genderoptions input,
 .submitformbtn input {
     cursor: pointer;
 }

 .submitformbtn {
     margin-top: 40px;
 }

 .submitformbtn input {
     display: block;
     width: 100%;
     margin-top: 10px;
     font-size: 20px;
     padding: 10px;
     border: none;
     border-radius: 5px;
     color: white;
     background: #3fa183;
 }

 .submitformbtn input:hover {
     background: #92cfba;
     color: #d1ede1;
 }

 /* This is for the responsiveness functionality for the registration form*/
 @media(max-width:600px) {
     .container {
         min-width: 250px;
     }

     .userinputbox{
        margin-bottom: 12px;
        width:100%;
    
     }

     .userinputbox:nth-child(2n){
        justify-content: space-between;
     }
     .genderoptions{
        display: flex;
        justify-content: space-between;
        width: 100%;
     }
     .userdetails{
        max-height: 380px;
        overflow: auto;
     }
     .userdetails::-webkit-scrollbar{
        width:0;
     }
 }